In [2]:
import numpy as np
import seaborn as sns
import pandas as pd

sube2023 = pd.read_csv("dataSets/dat-ab-usos-2023.csv")
#ordeno las columnas del df

print(sube2023.head())

  DIA_TRANSPORTE                                     NOMBRE_EMPRESA  \
0     2023-01-01  MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...
1     2023-01-01  MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...
2     2023-01-01                                 EMPRESA BATAN S.A.
3     2023-01-01               COMPAÑIA  DE TRANSPORTE VECINAL S.A.
4     2023-01-01           EMPRESA DE TRANSPORTE PERALTA RAMOS SACI

              LINEA AMBA TIPO_TRANSPORTE JURISDICCION     PROVINCIA  \
0                 1   SI       COLECTIVO    MUNICIPAL  BUENOS AIRES
1                2B   SI       COLECTIVO    MUNICIPAL  BUENOS AIRES
2  BS_AS_LINEA 715M   NO       COLECTIVO    MUNICIPAL  BUENOS AIRES
3   BS_AS_LINEA_326   SI       COLECTIVO   PROVINCIAL  BUENOS AIRES
4   BS_AS_LINEA_512   NO       COLECTIVO    MUNICIPAL  BUENOS AIRES

            MUNICIPIO  CANTIDAD DATO_PRELIMINAR
0            MERCEDES        61              NO
1            MERCEDES        11              NO
2  GENERAL PUEYRREDON      1707              NO
3                  SN       438              NO
4  GENERAL PUEYRREDON      1189              NO

Procesamiento de datos [2 pts.]
1. (a) Visualizar el tipo de datos de cada columna. Transformar la columna DIA_TRANSPORTE
para que sea reconocida como una fecha.
Sugerencia: investigar la función to_datetime de pandas. Para completar el argumento
format, revisar la documentación de datetime

In [221]:
sube2023["DIA_TRANSPORTE"] = pd.to_datetime(sube2023["DIA_TRANSPORTE"], format = '%Y-%m-%d')

sube2023 = sube2023.rename(columns = {"DIA_TRANSPORTE" : "FECHA"})
#Verificamos que se convirtio en el tipo que queremos
sube2023.head()

,FECHA,NOMBRE_EMPRESA,LINEA,AMBA,TIPO_TRANSPORTE,JURISDICCION,PROVINCIA,MUNICIPIO,CANTIDAD,DATO_PRELIMINAR
0,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,1,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,61,NO
1,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,2B,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,11,NO
2,2023-01-01,EMPRESA BATAN S.A.,BS_AS_LINEA 715M,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1707,NO
3,2023-01-01,COMPAÑIA DE TRANSPORTE VECINAL S.A.,BS_AS_LINEA_326,SI,COLECTIVO,PROVINCIAL,BUENOS AIRES,SN,438,NO
4,2023-01-01,EMPRESA DE TRANSPORTE PERALTA RAMOS SACI,BS_AS_LINEA_512,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1189,NO

(b) Agregar tres columnas al DataFrame:

i. FECHA_DIA : debe indicar el nombre del día de la semana correspondiente a
DIA_TRANSPORTE

ii. FECHA_ORDINAL : debe indicar el ordinal correspondiente a DIA_TRANSPORTE (por
ejemplo, a 2023-01-01 le corresponde 1, a 2023-01-02 le corresponde 2 y así sucesiva-
mente). Debe ser un entero (int).

iii. FECHA_MES : debe indicar el mes correspondiente a DIA_TRANSPORTE
Sugerencia: investigar el método apply de DataFrame.

In [222]:
#Tomamos solo el prefijo del dia
sube2023["FECHA_DIA"] = [fecha.day_name()[0:3] for fecha in sube2023["FECHA"]]
print(sube2023.head())

       FECHA                                     NOMBRE_EMPRESA  \
0 2023-01-01  MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...
1 2023-01-01  MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...
2 2023-01-01                                 EMPRESA BATAN S.A.
3 2023-01-01               COMPAÑIA  DE TRANSPORTE VECINAL S.A.
4 2023-01-01           EMPRESA DE TRANSPORTE PERALTA RAMOS SACI

              LINEA AMBA TIPO_TRANSPORTE JURISDICCION     PROVINCIA  \
0                 1   SI       COLECTIVO    MUNICIPAL  BUENOS AIRES
1                2B   SI       COLECTIVO    MUNICIPAL  BUENOS AIRES
2  BS_AS_LINEA 715M   NO       COLECTIVO    MUNICIPAL  BUENOS AIRES
3   BS_AS_LINEA_326   SI       COLECTIVO   PROVINCIAL  BUENOS AIRES
4   BS_AS_LINEA_512   NO       COLECTIVO    MUNICIPAL  BUENOS AIRES

            MUNICIPIO  CANTIDAD DATO_PRELIMINAR FECHA_DIA
0            MERCEDES        61              NO       Sun
1            MERCEDES        11              NO       Sun
2  GENERAL PUEYRREDON      1707              NO       Sun
3                  SN       438              NO       Sun
4  GENERAL PUEYRREDON      1189              NO       Sun

ii. FECHA_ORDINAL : debe indicar el ordinal correspondiente a DIA_TRANSPORTE (por
ejemplo, a 2023-01-01 le corresponde 1, a 2023-01-02 le corresponde 2 y así sucesiva-
mente). Debe ser un entero (int).

In [223]:
sube2023["FECHA_ORDINAL"] = [fecha.day for fecha in sube2023["FECHA"]]
sube2023.head()

,FECHA,NOMBRE_EMPRESA,LINEA,AMBA,TIPO_TRANSPORTE,JURISDICCION,PROVINCIA,MUNICIPIO,CANTIDAD,DATO_PRELIMINAR,FECHA_DIA,FECHA_ORDINAL
0,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,1,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,61,NO,Sun,1
1,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,2B,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,11,NO,Sun,1
2,2023-01-01,EMPRESA BATAN S.A.,BS_AS_LINEA 715M,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1707,NO,Sun,1
3,2023-01-01,COMPAÑIA DE TRANSPORTE VECINAL S.A.,BS_AS_LINEA_326,SI,COLECTIVO,PROVINCIAL,BUENOS AIRES,SN,438,NO,Sun,1
4,2023-01-01,EMPRESA DE TRANSPORTE PERALTA RAMOS SACI,BS_AS_LINEA_512,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1189,NO,Sun,1

iii. FECHA_MES : debe indicar el mes correspondiente a DIA_TRANSPORTE
Sugerencia: investigar el método apply de DataFrame.

In [224]:
sube2023["FECHA_MES"] = [fecha.month for fecha in sube2023["FECHA"]]
sube2023.head()

,FECHA,NOMBRE_EMPRESA,LINEA,AMBA,TIPO_TRANSPORTE,JURISDICCION,PROVINCIA,MUNICIPIO,CANTIDAD,DATO_PRELIMINAR,FECHA_DIA,FECHA_ORDINAL,FECHA_MES
0,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,1,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,61,NO,Sun,1,1
1,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,2B,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,11,NO,Sun,1,1
2,2023-01-01,EMPRESA BATAN S.A.,BS_AS_LINEA 715M,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1707,NO,Sun,1,1
3,2023-01-01,COMPAÑIA DE TRANSPORTE VECINAL S.A.,BS_AS_LINEA_326,SI,COLECTIVO,PROVINCIAL,BUENOS AIRES,SN,438,NO,Sun,1,1
4,2023-01-01,EMPRESA DE TRANSPORTE PERALTA RAMOS SACI,BS_AS_LINEA_512,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1189,NO,Sun,1,1

2) Crear el DataFrame datos_amba, el cual sólo debe tener datos de AMBA y debe excluir datos
preliminares. Además, al ejecutar datos_amba.head() debe observarse el siguiente orden y
formato de columnas:

In [238]:
subeAmba = sube2023[(sube2023["AMBA"] == "SI") & (sube2023["DATO_PRELIMINAR"] == "NO")]
datos_amba = subeAmba[["FECHA","FECHA_DIA","FECHA_MES","FECHA_ORDINAL","JURISDICCION","LINEA","CANTIDAD", "TIPO_TRANSPORTE"]]
#Renombro de acorde a lo pedido
datos_amba = datos_amba.rename(columns = lambda s : "pasajeros" if s == "CANTIDAD"  else str.lower(s))  

datos_amba.head()

,fecha,fecha_dia,fecha_mes,fecha_ordinal,jurisdiccion,linea,pasajeros,tipo_transporte
0,2023-01-01,Sun,1,1,MUNICIPAL,1,61,COLECTIVO
1,2023-01-01,Sun,1,1,MUNICIPAL,2B,11,COLECTIVO
3,2023-01-01,Sun,1,1,PROVINCIAL,BS_AS_LINEA_326,438,COLECTIVO
5,2023-01-01,Sun,1,1,MUNICIPAL,BS_AS_LINEA_514,3067,COLECTIVO
6,2023-01-01,Sun,1,1,MUNICIPAL,BS_AS_LINEA_522,332,COLECTIVO

3. Utilizando datos_amba ,identificar:
(a) la proporcion de la cantidad total anual de pasajeros que le corresponda a cada medio de transporte

In [229]:
#La cantidad de pasajeros en cada medio de trasporte, divido el total de pasajeros, 
#multiplicado por 100 para tener porcentajes del 0% al 100%
PropXTransporte = (datos_amba.groupby("tipo_transporte")["pasajeros"].sum()/datos_amba["pasajeros"].sum() )*100
print(PropXTransporte)

tipo_transporte
COLECTIVO    83.764488
SUBTE         6.809700
TREN          9.425812
Name: pasajeros, dtype: float64

(b) la tupla (mes, línea de subte) donde viajó la mayor cantidad de pasajeros

In [233]:
#Me creo un nuevo dataset usando el de datos_amba, que contenga unicamente los datos relevantes,
#agregando la cantidad de pasajeros por linea por mes
GenteXLineaXMesDF= datos_amba[datos_amba["tipo_transporte"] == "SUBTE"].groupby(["fecha_mes","linea"])["pasajeros"].sum().reset_index()

#idxmax me da el indice del maximo en la fila cantidad
filaMax = GenteXLineaXMesDF.loc[GenteXLineaXMesDF["pasajeros"].idxmax()]
MesLinea = (filaMax["fecha_mes"] , filaMax["linea"])
print(MesLinea)

(8, 'LINEA_B')

**c) el día hábil con menor desvío estándar en cantidad de pasajeros**

Primero, filtro el df por los "dias habiles"

In [ ]:
amba_dias_habiles = datos_amba[(datos_amba["fecha_dia"] != ("Sat")) & (datos_amba["fecha_dia"] != ("Sun"))]
amba_dias_habiles

Armo un nuevo df donde sumo la cantidad de pasajeros totales por fecha y agrupo por días.

In [ ]:
pasajeros_x_dia = amba_dias_habiles.groupby(["fecha_dia","fecha"])["pasajeros"].sum().reset_index()
pasajeros_x_dia

In [ ]:
pasajeros_x_dia.groupby("fecha_dia")["pasajeros"].std().idxmin()

**Modelado**

In [258]:
datos_ColectivoJN = datos_amba[(datos_amba["tipo_transporte"] == "COLECTIVO") & (datos_amba["jurisdiccion"] == "NACIONAL") ]
cols = datos_ColectivoJN.linea.unique() # Los nombres de las lineas de colectivo

pasajeros_por_linea = pd.DataFrame()

for col in cols:
    datos_linea = datos_ColectivoJN[datos_ColectivoJN.linea == col][["fecha", "pasajeros"]]
                           
    datos_linea = datos_linea.set_index("fecha").rename(columns = {"pasajeros" : col })
    pasajeros_por_linea = pd.concat([pasajeros_por_linea,datos_linea], axis = 1)

display(pasajeros_por_linea.head())

,BS_ASLINEA_123,BSAS_LINEA_002,BSAS_LINEA_009,BSAS_LINEA_010,BSAS_LINEA_015,BSAS_LINEA_017,BSAS_LINEA_019,BSAS_LINEA_020,BSAS_LINEA_021,BSAS_LINEA_022,...,LINEA 5,LINEA 50,LINEA 6,LINEA 7,LINEA 76,LINEA 8,LINEA_099,LINEA_119_AMBA,LINEA_164_AMBA,LINEA 119
fecha,,,,,,,,,,,,,,,,,,,,,
2023-01-01,1681,5670,5644,5177,9109,7013,1604,2617,11235,2202,...,4832.0,4839,2449,2184,3797,5317,1882,1573.0,3210,NaN
2023-01-02,9440,21759,23284,21176,45269,29962,13921,11934,55611,13823,...,20333.0,16221,10486,12774,17374,23250,10322,7345.0,19362,NaN
2023-01-03,9836,25014,24830,23662,50604,32301,15769,12561,60175,16078,...,23044.0,17982,12211,14128,18963,26066,11328,8016.0,22297,NaN
2023-01-04,10540,24755,25405,23806,52873,33659,16172,13366,61721,16206,...,23041.0,18448,12193,13949,19860,26294,11981,7925.0,21784,NaN
2023-01-05,10408,25772,26489,24688,53436,35182,16569,12929,62510,16863,...,23928.0,18481,12888,14668,21235,27216,11787,7597.0,22972,NaN